.highcharts-background {
    fill: var(--container)
}
.highcharts-plot-band {
    fill: var(--wrapper);
}
.highcharts-graph {
    stroke: var(--wrapperheading);
}
.highcharts-area {
    fill: transparent;
}
.highcharts-series.highcharts-series-0.highcharts-column-series.highcharts-color-undefined.highcharts-tracker .highcharts-point {
    fill: var(--featurefocus);
}
.highcharts-series.highcharts-series-1.highcharts-column-series.highcharts-color-undefined.highcharts-tracker .highcharts-point {
    fill: var(--feauturecolor);
}
.scrobble-stats-graph .user-dashboard-legend-item--current::before {
    background: var(--feauturecolor);
}
.scrobble-stats-graph .user-dashboard-legend-item--comparison::before {
    background: var(--featurefocus);
}
.highcharts-point {
    fill: var(--feauturecolor);
}
.listening-report-promo {
    background-color: var(--charlist);
}
.listening-report-promo:hover, .listening-report-promo:focus, .listening-report-promo:hover {
    background-color: var(--container);
}
.tag-label {
    background-image: linear-gradient(135deg,var(--featurefocus),var(--feauturecolor));
}
.user-dashboard-comparison--down {
    color: var(--featurefocus);
}
.user-dashboard-comparison--down::before {
    filter: grayscale(100%);
}