tr:nth-child(1) {
    border-radius: BorRad BorRad 0px 0px !important;
}
tr:last-of-type {  
    border-radius: 0px 0px BorRad BorRad !important;
}
.chartlist-row:hover {
    background-color: transparent;
    border-bottom: solid 1px var(--charttime);
    transition: all 1s;
}
.chartlist-row--now-scrobbling {
    background: var(--nowplaying) !important;
    color: var(--nowplayingtext) !important;
    padding: 15px !important;
}
.chartlist-row::after {
    border-bottom: none;
}
.chartlist .chartlist-row {
    background: var(--charlist);
    border-radius: 0px;
    color: var(--charlisttext);
}
.chartlist, .chartlist tbody, .chartlist td, .chartlist thead, .chartlist tr {
    padding: 5px;
    border-radius: BorRad;
}